body {
    background-image: url(gplaypattern.png);
}

p {
    margin-top: 20px;
    font-family: 'Hind Madurai', sans-serif;
    text-align: justify;
    font-size: 16px;
}

header {
    font-family: 'Questrial', sans-serif;
    font-size: large;
    font-stretch: wider;
    text-decoration: wavy ;
    text-shadow: 2px gray;
    
}

i {
    color: white;
    font-size: 5rem;
    padding: 0px 4px;
    justify-content: space-evenly;
}

.navbar {
    background-color: #0D4861;
    height: 35px;
    width: 100vw;
}

.navbar-brand {
    font-family: 'Questrial', sans-serif;
    text-shadow: 1px;
    font-size: 15px;
    padding: 1px 15px 2px 2px;
    justify-content: right;
    margin: 0px;
    color: ;
}

.container {
    width: 100%;
    padding: 0px 36px 8px 8px;
}

.content {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 55px;
    justify-content: center;
    margin-top: 15px;
    font-size: 15px;
    bottom: 0;
    width: 100vw;
    background-color: #0D4861 ;
    color: white;
    text-align: center;
}

.formlayout {
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    justify-content: center;
    border-color: #0D4861;
}

#header {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 15px;
    color: black; 
}

#selfPic {
    padding: 2px;
    margin: 20px; 
    border-width: 30px;
    border-color: #0D4861;
    border-radius: 10px;
    border: solid;
    width: 25vw;
}

#khTheme {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    padding: 0px 0px;
    margin: 5px;
}

#titleMe {
    font-family: 'Questrial', sans-serif;
    font-style: oblique;
    font-size: 35px;
}

#submitBtn {
    margin: 30px;
    padding: 5px;
    background-color: #0D4861;
}