body {
    background-image: url(/assets/images/gplaypattern.png);
}

header {

}

p {
    margin-top: 20px;
    font-family: 'Hind Madurai', sans-serif;
    text-align: justify;
    font-size: 14px;
}

i {
    color: white;
    font-size: 5rem;
    padding: 0px 6px;
    justify-content: center;
}

.navbar {
    background-color:| kendra j hallam |;
    height: 50px;
    width: 100vw;
}

.navbar-brand {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    padding: 2px 36px 2px 2px;
    justify-content: space-around;
    margin: 0;
    color: white;
}

:hover{
    color: gray;
}

.container {
    width: 100%;
    padding: 0px 36px 8px 8px;
}

.content {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 55px;
    justify-content: space-evenly;
    margin-top: 15px;
    font-size: 15px;
    bottom: 0;
    width: 100vw;
    background-color: teal ;
    color: white;
    text-align: center;
}

.formlayout {
    margin: 10px;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    float: left;    
}

#header {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 15px;
    color: black; 
}

#selfPic {
    padding: 5px;
    margin: 20px; 
    border-width: 15px;
    border-color: darkslategray;
    border: solid;
    width: 30%;
}

#khTheme {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    padding: 0px 0px;
    margin: 5px;
}

#titleMe {
    font-family: 'Questrial', sans-serif;
    font-style: oblique;
    font-size: 35px;
}

#submitBtn {
    margin: 30px;
    padding: 5px;
}