a {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    text-align: center;
}

body {
    background-image: url(/assets/images/gplaypattern.png);
    margin: auto;
    padding: auto;
}

p {
    margin: 2px 9px, 0px, 9px;
    flex-wrap: wrap;
    padding: 1px 8px 4px 8px;
    font-family: 'Hind Madurai', sans-serif;
    text-align: justify;
    font-size: 18px;
}

header {
    font-family: 'Questrial', sans-serif;
    font-size: 28px;
    font-style: bolder;
    text-shadow: 1px 1px 3px white;
    color: #0D4861;   
 }


hr {
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

i {
    color: white;
    font-size: 1.5rem;
    margin-top: 2px;
    padding: 0px 15px;
    justify-content: space-evenly;
}

footer {
    color: white;
    height: 65px;
    justify-content: center;
    margin: 15px, 0px;
    padding: 10px;
    font-size: 12px;
    bottom: 0;
    width: 100vw;
    background-color: #0D4861;
    position: fixed;
    text-align: center;
}

h3 {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: #0D4861;
    text-align: center;
}

img {
    align-content: center;
    justify-content: center;
    border: 8px;
    border-style: inset;
    box-shadow: 0px 2px 2px 5px lightgray;
    padding: 5px;
    margin: 5px;

}

.navbar {
    background-color: #0D4861;
    background-image: linear-gradient(#75D6FF, #0D4861);
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 1;
    
}

.navbar-brand {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: white;
}

.container {
    border-color: #75D6FF;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 2px 2px 5px lightgrey;
    justify-content: center;
    align-content: center;
    margin-top: 115px;
    margin-bottom: 20px;
    padding: auto;
    padding-right: 33px;
}

.content {
    min-height: calc(100vh - 70px);
}


.formlayout {
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    justify-content: center;
    border-color: #0D4861;
}

.card {
    border-radius: 2rem; 
    border-color: lightgray;
    border-width: 2px;
    box-shadow: 0px 5px 2px 0px;
    color: transparent;
    width: 300px;
    height: 200px;
}

#header {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 15px;
    color: darkgray; 
}

#card {
    border-radius: 5%;
    margin: 5px 10px; 
    box-shadow: 2px darkgray;
    padding: 0px;
    width: 35vw;
}

#selfie {
    margin: 8px 25px 0px 0px;
    padding: 5px;
    border-radius: 15%;
    border-style: inset;
    border-color: #0D4861;
    border-width: 8px;
    width: 200px;
}

#khTheme {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    padding: 0px 0px;
    margin: 5px;
}

#titleMe {
    font-family: 'Questrial', sans-serif;
    font-style: oblique;
    font-size: 35px;
    color: #0D4861;
    text-shadow: 2px 2px 5px #75D6FF;
}

#submitBtn {
    margin: 15px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    background-color: #0D4861;
    color: white;
    width: 10vw;
    height: 7vh;
    justify-content: center;
}

#clickBtn {
    margin: 4px;
    padding: 4px;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    background-color: #0D4861;
    color: white;
    justify-content: center;
    align-items: center;
}
