body {
    background-image: url(/assets/images/gplaypattern.png);
}

p {
    display: inline-flex;
    margin-top: 15px;
    padding: 0px 40px 0px 40px;
    font-family: 'Hind Madurai', sans-serif;
    text-align: justify;
    font-size: 16px;
}

header {
    font-family: 'Questrial', sans-serif;
    font-size: 28px;
    font-style: bolder;
    text-shadow: 1px 1px 3px white;
    color: #0D4861;   
    /* color: #F09E41; */
}

p {
    display: inline-block;
    flex-wrap: wrap;
}

hr {
    border-style: inset;
    border-width: 1px;
    border-color: #75D6FF;
    width: 75vw;
}

i {
    color: white;
    font-size: 5rem;
    padding: 0px 4px;
    justify-content: space-evenly;
}

.navbar {
    background-color: #0D4861;
    background-image: linear-gradient(#75D6FF, #0D4861);
    width: 100vw;
}

.navbar-brand {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    padding: 1px 10px 2px 2px;
    justify-content: right;
    margin: 0px;
    color: white;
    text-shadow: 0px 2px 5px 0px;
}

.container {
    width: 100%;
    padding: 0px 36px 8px 8px;
}

.content {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 55px;
    justify-content: center;
    margin-top: 15px;
    font-size: 15px;
    bottom: 0;
    width: 100vw;
    background-color: #0D4861 ;
    color: white;
    text-align: center;
}

.formlayout {
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    justify-content: center;
    border-color: #0D4861;
}

.card {
    border-radius: 2rem; 
    border-color: lightgray;
    border-width: 2px;
    box-shadow: 0px 5px 2px 0px;
    color: transparent;
}

#header {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 15px;
    color: darkgray; 
}

img#card {
    border-radius: 5%;
    margin: 5px 10px; 
    box-shadow: 2px darkgray;
    padding: 0px;
    width: 35vw;
}

img#selfie {
    border-radius: 5%;
    margin: 5px 5px;
    display: inline;
    width: 20vw;
}

#khTheme {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    padding: 0px 0px;
    margin: 5px;
}

#titleMe {
    font-family: 'Questrial', sans-serif;
    font-style: oblique;
    font-size: 35px;
    color: #0D4861;
    text-shadow: 2px 2px 5px #75D6FF;
}

#submitBtn {
    margin: 20px;
    padding: 5px;
    background-color: #0D4861;
    width: 10vw;
    height: 10vh;
}